<!DOCTYPE html>
<html>
<head>
  <title>Example</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<h1><%= content_for :title %></h1>

<% if flash[:success].present? %>
  <div class="flash--success"><%= flash[:success] %></div>
<% end %>

<% if flash[:error].present? %>
  <div class="flash--error"><%= flash[:error] %></div>
<% end %>


<h2></h2>

<div class="main">
  <%= yield %>
</div>

</body>
</html>
